html{background:#fff}
body{margin:1em}
span{font-size:1.4ex}
span img{height:1em;margin:0.5ex}
h1>img{height:4ex;vertical-align:middle}
details,details p{margin:1em}
details img{height:1em}
summary{font-weight:bold;cursor:pointer}
table{border-collapse:collapse}
tr{border-top:1px solid #666;border-bottom:1px solid #666}
tr>*{vertical-align:top;padding:1ex}
th{line-height:3ex}
th img{width:2em;margin:0.5ex;padding:0.5ex}
th img[src="mp3.svg"]{background:#5a9595;border-radius:1ex}
a{color:inherit;text-decoration-color:#66f;text-decoration-thickness:0.2ex}
@media(prefers-color-scheme:dark){html{color:#fff;background:#000}}
